/* Responsive Design */
hamburger-menu {
    display: none;
    height: 40px;
    width: 40px;
    margin: 5px 0px;
    border: 1px solid #e4ebfd;
    border-radius: 5px;
    text-align: center;
}
hamburger-line {
    display: none;
    height: 3px;
    width: 26px;
    margin: 7px 6px;
    background-color: #e4ebfd;
    content: "";
}
.menu {
    position: absolute;
    top: 7px;
    left: 10px;
    padding: 5px;
    background-color: #036;
    border: solid 1px #fff;
    border-radius: 5px;
    cursor: pointer;
}
.container {
  display: flex;
}
.main {
    width: 60%;
    margin-right: 20px;
}
.sidebar {
  width: 40%;
}

/*@media(max-width: 1024px) {
    .container {
        flex-direction: column;
    }
    .main {
        width: 100%;
    }
    .sidebar {
        width: 100%;
    }
}*/
@media (max-width: 960px) /*and (-webkit-min-device-pixel-ratio: 2)*/ {
    hamburger-menu {
        display: block;
    }
    hamburger-line {
        display: block;
    }
    particles-wrapper {
        display: none;
    }
    .nav {
        display: none;
    }
}