/* Responsive Design */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

hamburger-menu {
    display: none;
    position: fixed;
    top: 7px;
    height: 35px;
    width: 35px;
    margin: 0px;
    padding: 0px;
    border: 1px solid #e4ebfd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

hamburger-line {
    display: none;
    height: 3px;
    width: 22px;
    margin: 6px 6px;
    background-color: #e4ebfd;
    border-radius: 1px;
    content: "";
}

ul.menu {
    float: right;
    display: none;
    position: fixed;
    height: calc(100% - 80px);
    width: 100%;
    top: 50px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    background: #333;
    background: -moz-linear-gradient(90deg, #303 0%, #636 100%);
    background: -webkit-linear-gradient(90deg, #636 0%, #636 100%);
    background: linear-gradient(90deg, #303 0%, #636 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#330033",endColorstr="#663366",GradientType=1);
    /*border-bottom: 1px solid #e4ebfd;*/
    text-align: right;
}

li.menu-item {
    display: block;
    height: 50px;
    width: 100%;
    position: relative;
    padding: 12px 20px;
    margin: 0px;
    background: #636;
    background: -moz-linear-gradient(90deg, #969 0%, #636 100%);
    background: -webkit-linear-gradient(90deg, #969 0%, #636 100%);
    background: linear-gradient(90deg, #959 0%, #636 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#996699",endColorstr="#663366",GradientType=1);
    border-bottom: solid 1px #e4ebfd;
    list-style-type: none;
}

    li.menu-item:first-of-type {
        border-top: 1px solid #e4ebfd;
    }

    /* Media Queries */
    @media (max-width: 960px) /*and (-webkit-min-device-pixel-ratio: 2)*/ {
        hamburger-menu {
            display: block;
        }

        hamburger-line {
            display: block;
        }

        particles-wrapper {
            display: none;
        }

        .nav {
            display: none;
        }
    }
