* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h2 {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 1.1em;
}

p {
    text-align: left;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
}

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: ' ';
        position: absolute;
        width: 8px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -4px;
        background-color: #636;
        border-radius: 4px;
    }

/* Container around content */
.container {
    padding: 20px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

    /* The circles on the timeline */
    .container::after {
        content: ' ';
        position: absolute;
        width: 20px;
        height: 20px;
        right: -14px;
        background: url('../images/egem-icon.png') no-repeat;
        background-color: #969;
        border: 4px solid #636;
        top: 40px;
        border-radius: 50%;
        z-index: 1;
    }

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: ' ';
    height: 0;
    position: absolute;
    top: 45px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: 1px solid #636;
    border-width: 10px 0px 10px 10px;
    border-color: transparent transparent transparent #636;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: ' ';
    height: 0;
    position: absolute;
    top: 45px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: 1px solid #636;
    border-width: 10px 10px 10px 0px;
    border-color: transparent #636 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -14px;
}

/* The actual content */
.card {
    padding: 20px 30px;
    background-color: #e4ebfd;
    background: -moz-linear-gradient(270deg, #e4ebfd 0%, #c2c9db 100%);
    background: -webkit-linear-gradient(270deg, #e4ebfd 0%, #c2c9db 100%);
    background: linear-gradient(270deg, #e4ebfd 0%, #c2c9db 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4ebfd",endColorstr="#c2c9db",GradientType=1);
    position: relative;
    border-radius: 10px;
    border: 4px solid #636;
}

.container:nth-of-type(even) .card {
    background-color: #e4ebfd;
    background: -moz-linear-gradient(90deg, #e4ebfd 0%, #c2c9db 100%);
    background: -webkit-linear-gradient(90deg, #e4ebfd 0%, #c2c9db 100%);
    background: linear-gradient(90deg, #e4ebfd 0%, #c2c9db 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4ebfd",endColorstr="#c2c9db",GradientType=1);
}

/* Show accomplished milestones in greyscale */
.grey-complete {
    background: #bbb;
    background: -moz-linear-gradient(270deg, #ccc 0%, #999 100%);
    background: -webkit-linear-gradient(270deg, #ccc 0%, #999 100%);
    background: linear-gradient(270deg, #ccc 0%, #999 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc",endColorstr="#aaaaaa",GradientType=1);
}

.container:nth-of-type(even) .grey-complete {
    background: #bbb;
    background: -moz-linear-gradient(90deg, #ccc 0%, #999 100%);
    background: -webkit-linear-gradient(90deg, #ccc 0%, #999 100%);
    background: linear-gradient(90deg, #ccc 0%, #999 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc",endColorstr="#aaaaaa",GradientType=1);
}

/* Media queries - Responsive timeline on screens less than 660px wide */
@media screen and (max-width: 660px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

        /* Make sure that all arrows are pointing leftwards and gradients go same direction */
        .container::before {
            left: 60px;
            border: 1px solid #636;
            border-width: 10px 10px 10px 0;
            border-color: transparent #636 transparent transparent;
        }

        .card {
            background-color: #e4ebfd;
            background: -moz-linear-gradient(90deg, #e4ebfd 0%, #c2c9db 100%);
            background: -webkit-linear-gradient(90deg, #e4ebfd 0%, #c2c9db 100%);
            background: linear-gradient(90deg, #e4ebfd 0%, #c2c9db 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4ebfd",endColorstr="#c2c9db",GradientType=1);
        }

        .grey-complete {
            background: #ccc;
            background: -moz-linear-gradient(90deg, #ccc 0%, #999 100%);
            background: -webkit-linear-gradient(90deg, #ccc 0%, #999 100%);
            background: linear-gradient(90deg, #ccc 0%, #999 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc",endColorstr="#999999",GradientType=1);
        }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 17px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}
