/* Font Embedding */
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto-regular.ttf);
}

/* HTML Element Formatting */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
img {
    border: none;
}

p {
    margin: 20px 0px 0px 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    overflow: visible;
    background-color: #fbfcfc;
    font-family: Roboto, sans-serif;
    color: #333;
    font-size: 14px;
    text-align: left;
    letter-spacing: 0.08em;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-align: left;
}

nav {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    margin: 0px;
    padding: 0px 10px 0px 20px;
    overflow: hidden;
    background-color: #636;
    background-image: linear-gradient(top, #636 0%, #303 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #636), color-stop(1, #303));
    background-image: -moz-linear-gradient(center top, #636 0%, #303 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#663366",endColorstr="#330033",GradientType=1);
    text-align: right;
    z-index: 500;
}

/* Custom Element Formatting */
content {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 80px;
    margin: 0px auto;
    overflow: visible;
    text-align: left;
}

footer {
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    margin: 0px;
    padding-top: 8px;
    background-color: #636;
    background-image: linear-gradient(top, #303 0%, #636 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #303), color-stop(1, #636));
    background-image: -moz-linear-gradient(center top, #303 0%, #636 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#663366",endColorstr="#330033",GradientType=1);
    text-align: center;
    color: #e4ebfd;
    font-size: 0.9em;
    z-index: 500;
}

intro {
    height: 260px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px auto;
    padding-top: 0px;
    overflow: hidden;
    border-bottom: 1px solid #333;
    background-color: #969;
    background-image: linear-gradient(top, #969 0%, #636 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #969), color-stop(1, #636));
    background-image: -moz-linear-gradient(center top, #969 0%, #636 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#996699",endColorstr="#663366",GradientType=1);
    text-align: center;
    color: #fff;
    z-index: 100;
}

social {
    display: none;
    height: auto;
    width: 42px;
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    text-align: right;
    z-index: 3000;
}

section {
    height: auto;
    width: auto;
    position: relative;
    margin: 40px 20px 20px 20px;
    padding: 5px 0px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

    section:first-of-type {
        margin-top: 300px;
    }

arrow {
    height: auto;
    width: auto;
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

section-content {
    display: block;
    height: auto;
    width: auto;
    margin: 0px 20px;
    position: relative;
    padding: 0px;
    text-align: justify;
}

/* Formatting Classes */
.section-anchor {
    margin-top: -120px;
    height: 120px;
    display: block;
    visibility: hidden;
}

.clickable {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.shadow {
    text-shadow: 0px 2px 2px #000;
}

.alignleft {
    text-align: left;
}

.aligncenter {
    text-align: center;
}

.alignright {
    text-align: right;
}

.alignjustified {
    text-align: justify;
}

.framepic {
    border: 1px solid #000;
}

.upsize {
    font-size: 1.2em;
}
