/* Custom Element Formatting */
team-member {
    height: auto;
    width: 300px;
    position: relative;
    float: left;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    /*background-color: #e4ebfd;*/
    border: 1px solid #333;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px #333;
    color: #333;
    text-align: center;
}

/* Formatting Classes */
img.team-member-image {
    border: 1px solid #000;
    border-radius: 50%;
    content: '\A';
}

.team-member-name {
    font-size: 1.1em;
    font-weight: bold;
}

.team-member-content {
    padding-top: 10px;
}
