* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

ticker-wrapper {
    position: fixed;
    top: 50px;
    width: 100%;
    overflow: hidden;
    height: 30px;
    background-color: #000;
    background: -moz-linear-gradient(180deg, #333 0%, #000 100%);
    background: -webkit-linear-gradient(180deg, #333 0%, #000 100%);
    background: linear-gradient(180deg, #333 0%, #000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#333333",endColorstr="#000000",GradientType=1);
    padding-left: 100%;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    z-index: 400;
}

ticker {
    display: inline-block;
    height: auto;
    line-height: 1.0em;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 60s;
    animation-duration: 60s;
}

ticker-item {
    display: inline-block;
    padding: 8px 10px 8px 10px;
    margin-right: 100px;
    font-size: 1.0em;
    background-color: #333;
    color: #e4ebfd;
    border-radius: 10px;
}

.stat-title {
    color: #8987df;
    padding-right: 10px;
}
